In [3]:
## importing all necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


import sklearn
import tensorflow as tf
print(tf.__version__)

2.2.0

In [4]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)


## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [6]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [7]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [8]:
import tensorflow as tf
from tensorflow import keras

In [9]:
### train test split the given data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=20)

In [10]:
## importing all necessary functions

# from keras.layers import Dense
# from keras.models import Sequential 
# from keras.activations import relu,sigmoid

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [11]:
classifier = Sequential()

In [12]:
classifier.add(Dense(units = 10, activation = 'relu',input_dim = 11))

classifier.add(Dense(units = 10,activation = 'relu'))
               
classifier.add(Dense(units = 1, activation='sigmoid'))

In [13]:
classifier.compile(optimizer = "adam",loss = 'binary_crossentropy',metrics = ['accuracy'])

In [14]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                120
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 241
Trainable params: 241
Non-trainable params: 0
_________________________________________________________________

In [16]:
classifier.fit(X_train, y_train,validation_data = (X_test,y_test),epochs = 100,batch_size = 10,verbose = 2)

Epoch 1/100
700/700 - 2s - loss: 0.5122 - accuracy: 0.7914 - val_loss: 0.4945 - val_accuracy: 0.8077
Epoch 2/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4939 - val_accuracy: 0.8077
Epoch 3/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4942 - val_accuracy: 0.8077
Epoch 4/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4944 - val_accuracy: 0.8077
Epoch 5/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4945 - val_accuracy: 0.8077
Epoch 6/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4942 - val_accuracy: 0.8077
Epoch 7/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4941 - val_accuracy: 0.8077
Epoch 8/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4937 - val_accuracy: 0.8077
Epoch 9/100
700/700 - 3s - loss: 0.5119 - accuracy: 0.7914 - val_loss: 0.4936 - val_accuracy: 0.8077
Epoch 10/100
700/700 - 3s - loss: 0.5119 - accuracy: 0.7914 - val_loss: 0.4917 - val_accuracy: 0.8077
Epoch 11/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4909 - val_accuracy: 0.8077
Epoch 12/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4908 - val_accuracy: 0.8077
Epoch 13/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4911 - val_accuracy: 0.8077
Epoch 14/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4913 - val_accuracy: 0.8077
Epoch 15/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4907 - val_accuracy: 0.8077
Epoch 16/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4912 - val_accuracy: 0.8077
Epoch 17/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4906 - val_accuracy: 0.8077
Epoch 18/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4915 - val_accuracy: 0.8077
Epoch 19/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4912 - val_accuracy: 0.8077
Epoch 20/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4907 - val_accuracy: 0.8077
Epoch 21/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4909 - val_accuracy: 0.8077
Epoch 22/100
700/700 - 1s - loss: 0.5122 - accuracy: 0.7914 - val_loss: 0.4913 - val_accuracy: 0.8077
Epoch 23/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4917 - val_accuracy: 0.8077
Epoch 24/100
700/700 - 1s - loss: 0.5119 - accuracy: 0.7914 - val_loss: 0.4907 - val_accuracy: 0.8077
Epoch 25/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4907 - val_accuracy: 0.8077
Epoch 26/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4915 - val_accuracy: 0.8077
Epoch 27/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4911 - val_accuracy: 0.8077
Epoch 28/100
700/700 - 1s - loss: 0.5118 - accuracy: 0.7914 - val_loss: 0.4907 - val_accuracy: 0.8077
Epoch 29/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4912 - val_accuracy: 0.8077
Epoch 30/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4911 - val_accuracy: 0.8077
Epoch 31/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4910 - val_accuracy: 0.8077
Epoch 32/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4911 - val_accuracy: 0.8077
Epoch 33/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4911 - val_accuracy: 0.8077
Epoch 34/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4914 - val_accuracy: 0.8077
Epoch 35/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4912 - val_accuracy: 0.8077
Epoch 36/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4915 - val_accuracy: 0.8077
Epoch 37/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4917 - val_accuracy: 0.8077
Epoch 38/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4912 - val_accuracy: 0.8077
Epoch 39/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4913 - val_accuracy: 0.8077
Epoch 40/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4912 - val_accuracy: 0.8077
Epoch 41/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4920 - val_accuracy: 0.8077
Epoch 42/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4921 - val_accuracy: 0.8077
Epoch 43/100
700/700 - 1s - loss: 0.5119 - accuracy: 0.7914 - val_loss: 0.4912 - val_accuracy: 0.8077
Epoch 44/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4915 - val_accuracy: 0.8077
Epoch 45/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4919 - val_accuracy: 0.8077
Epoch 46/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4919 - val_accuracy: 0.8077
Epoch 47/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4917 - val_accuracy: 0.8077
Epoch 48/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4924 - val_accuracy: 0.8077
Epoch 49/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4921 - val_accuracy: 0.8077
Epoch 50/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4927 - val_accuracy: 0.8077
Epoch 51/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4920 - val_accuracy: 0.8077
Epoch 52/100
700/700 - 1s - loss: 0.5118 - accuracy: 0.7914 - val_loss: 0.4935 - val_accuracy: 0.8077
Epoch 53/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 54/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4925 - val_accuracy: 0.8077
Epoch 55/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4929 - val_accuracy: 0.8077
Epoch 56/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4925 - val_accuracy: 0.8077
Epoch 57/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4935 - val_accuracy: 0.8077
Epoch 58/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4928 - val_accuracy: 0.8077
Epoch 59/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4929 - val_accuracy: 0.8077
Epoch 60/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4933 - val_accuracy: 0.8077
Epoch 61/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4928 - val_accuracy: 0.8077
Epoch 62/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4930 - val_accuracy: 0.8077
Epoch 63/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4927 - val_accuracy: 0.8077
Epoch 64/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4933 - val_accuracy: 0.8077
Epoch 65/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4935 - val_accuracy: 0.8077
Epoch 66/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4930 - val_accuracy: 0.8077
Epoch 67/100
700/700 - 3s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4931 - val_accuracy: 0.8077
Epoch 68/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4934 - val_accuracy: 0.8077
Epoch 69/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 70/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 71/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4935 - val_accuracy: 0.8077
Epoch 72/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4930 - val_accuracy: 0.8077
Epoch 73/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4939 - val_accuracy: 0.8077
Epoch 74/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4934 - val_accuracy: 0.8077
Epoch 75/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4929 - val_accuracy: 0.8077
Epoch 76/100
700/700 - 3s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4931 - val_accuracy: 0.8077
Epoch 77/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 78/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 79/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4930 - val_accuracy: 0.8077
Epoch 80/100
700/700 - 3s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4933 - val_accuracy: 0.8077
Epoch 81/100
700/700 - 3s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4934 - val_accuracy: 0.8077

Epoch 82/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4931 - val_accuracy: 0.8077
Epoch 83/100
700/700 - 3s - loss: 0.5119 - accuracy: 0.7914 - val_loss: 0.4943 - val_accuracy: 0.8077
Epoch 84/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 85/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4934 - val_accuracy: 0.8077
Epoch 86/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4937 - val_accuracy: 0.8077
Epoch 87/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 88/100
700/700 - 1s - loss: 0.5119 - accuracy: 0.7914 - val_loss: 0.4935 - val_accuracy: 0.8077
Epoch 89/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4931 - val_accuracy: 0.8077
Epoch 90/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 91/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4938 - val_accuracy: 0.8077
Epoch 92/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4939 - val_accuracy: 0.8077
Epoch 93/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4938 - val_accuracy: 0.8077
Epoch 94/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4938 - val_accuracy: 0.8077
Epoch 95/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4937 - val_accuracy: 0.8077
Epoch 96/100
700/700 - 3s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 97/100
700/700 - 1s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4935 - val_accuracy: 0.8077
Epoch 98/100
700/700 - 2s - loss: 0.5121 - accuracy: 0.7914 - val_loss: 0.4938 - val_accuracy: 0.8077
Epoch 99/100
700/700 - 2s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4932 - val_accuracy: 0.8077
Epoch 100/100
700/700 - 1s - loss: 0.5120 - accuracy: 0.7914 - val_loss: 0.4938 - val_accuracy: 0.8077